:root {
  --vp-c-brand: #646cff;
  --vp-c-brand-light: #747bff;
  --vp-c-brand-dark: #747bff;

  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe, #41d1ff);
}

#docsearch .DocSearch.DocSearch-Button {
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 5px;
  height: fit-content;
  padding: 5px 10px;
  background: rgba(0,0,0,0.1);
}

.DocSearch.DocSearch-Button .DocSearch-Button-Placeholder {
  color: #2b2b2b;
}

.DocSearch.DocSearch-Button .DocSearch-Button-Keys {
  min-width: 0px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.DocSearch.DocSearch-Button .DocSearch-Button-Keys .DocSearch-Button-Key {
  font-size: 10px;
}

html.dark #docsearch .DocSearch.DocSearch-Button {
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 5px;
  height: fit-content;
  padding: 5px 10px;
  background: rgba(0,0,0,0.5);
}

html.dark #docsearch .DocSearch.DocSearch-Button .DocSearch-Button-Placeholder {
  color: #e2e2e2;
}

html.dark .DocSearch.DocSearch-Button .DocSearch-Button-Keys {
  min-width: 0px;
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgb(255 255 255 / 0.1), 0 1px 2px -1px rgb(255 255 255 / 0.1);
}