:root {
  --vp-c-brand: #7775fe;
  --vp-c-brand-light: #9f3ef4;
  --vp-c-brand-dark: #9f3ef4;

  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #b025ef, #7775fe);
  --vp-home-hero-image-background-image: linear-gradient( -45deg, #7811a8bd 30%, #4d4bd17a );
  --vp-home-hero-image-filter: blur(75px);
}

.VPButton.medium.brand {
  border-color: #aa4dfc;
  background-color: #9f3ef4;
}

.VPButton.medium.brand:hover {
  border-color: #ba84e9;
  background-color: #a953f5;
}

#docsearch .DocSearch.DocSearch-Button {
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 10px;
  height: fit-content;
  padding: 5px 10px;
  background: var(--vp-c-bg-alt);
}

.DocSearch.DocSearch-Button .DocSearch-Button-Placeholder {
  color: #2b2b2b;
}

.DocSearch.DocSearch-Button .DocSearch-Button-Keys {
  min-width: 0px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.DocSearch.DocSearch-Button .DocSearch-Button-Keys .DocSearch-Button-Key {
  font-size: 10px;
}

html.dark #docsearch .DocSearch.DocSearch-Button {
  border: 1px solid rgba(255,255,255,0.2);
}

html.dark #docsearch .DocSearch.DocSearch-Button .DocSearch-Button-Placeholder {
  color: #e2e2e2;
}

html.dark .DocSearch.DocSearch-Button .DocSearch-Button-Keys {
  min-width: 0px;
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(179, 179, 179, 0.1), 0 1px 2px -1px rgb(179, 179, 179 / 0.1);
}

.VPNavBarSearch.search {
  flex-grow: 1;
  padding-left: 32px;
}
@media(max-width: 768px) {
  .VPNavBarSearch.search {
    padding-left: 0;
    flex-grow: initial;
  }

  #docsearch .DocSearch.DocSearch-Button {
    border: initial;
    border-radius: 10px;
    height: fit-content;
    padding: 5px 10px;
    background: initial;
  }

  html.dark #docsearch .DocSearch.DocSearch-Button {
    border: initial;
    background: initial;
  }
}

.flex-logo {
  display: none;
}

.footer-year {
  color: #2b2b2b;
}
html.dark .footer-year {
  color: #e2e2e2;
}